@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Quicksand", sans-serif;
    /* scroll-behavior: smooth; */
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fadeInLeft {
    animation: fadeInLeft 1s ease forwards;
  }
  
  .animate-fadeInRight {
    animation: fadeInRight 1s ease forwards;
  }
  

  /* Add this in your global CSS file if you're not using Tailwind */

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 8px; */

}


/* .skill-card img { */
  /* width: 4rem; */
  /* height: 4rem; */
  /* margin-bottom: 1rem; */
/* } */

/* .skill-card h4 {
  color: white;
  font-size: 1rem;
} */
